body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    font-size: 20px;
    line-height: 1.5;
}

h1, h2{
    font-family: "Open Sans Condensed", sans-serif; /* Ao colocar mais de uma fonte, se não encontrar uma, tentara usar a proxima.
                                            para não ficar especificando todas os possíveis fontes, pode-se escolher um tipo de fonte.
                                            No caso "sans-serif" indica que se utilize qualquer fonte desse tipo. */
}

main h1 {                          /*Estou aplicando o estilo apenas aos h1 filhos da tag main.*/
    font-size: 60px;
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid black;
}

h2 {
    font-size: 40px;
}

main a {
    color: #851944;
}

main div {
    width: 720px;
    margin: auto;
}

.div_teste {
    /*gravata borboleta
    border-left: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    width: 0;*/
    
    /*triângulo*/
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote {
    background-color: #D3DDDA;
    padding: 16px; 
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
    margin: 0px;
    width: 250px;
    box-sizing: border-box; /*determina que os 250px de largura se aplicam à borda da caixa e não ao texto, que é o padrão do navegador*/
    /*border-radius: 10px; canto arredondado*/
    /*box-shadow: 6px 6px 6px black; sombreado*/
}

blockquote, aside, footer {
    padding: 20px;
}

aside, footer, nav a {
    color: #F2FFFC;
}

aside {
    background-color: #3C1D3D;
    text-align: center;
}

body footer {
    background-color: #000;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

 ul {
     list-style-type:none
 }
