body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

.titulo-principal, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    clear: both;
}

p {
	text-align: justify;
    margin: 20px 0;
}

.citacoes-profissionais {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
    margin: 20px 0;
}

.fiat {
    float: right;
    margin: 20px 0 0 30px;
}

.petrobras {
    float: left;
    margin: 20px 30px 0 0;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
    text-align: center;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
}

nav a {
	color: #F2FFFC;
    text-transform: lowercase;
}

main a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.citacoes-profissionais, .navegacao-site, footer {
    padding: 20px;
}

.texto-principal {
	width: 720px;
	margin: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.titulo-navegacao {
	font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    display: inline-block;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    /*text-indent: -99999px;*/ /*Pode ser usada essa alternativa ou font-size: 0*/
    font-size: 0;
}

.icone-github {
    background-image: url(github.png);
}

.icone-twitter {
    background-image: url(twitter.png);
}

.icone-linkedin {
    background-image: url(linkedin.png);
}

article {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.leia-mais {
    font-size: 24px;
    padding: 8px;
    margin: 16px;
    display: block;
    text-align: center;
    background-color: #E6E7E8;
}

img, aside {
    float: right;
    width: 15%;
    box-sizing: border-box; /*Isso informa para o navegador que o tamanho a ser considerado inclui a borda e não só o conteúdo interno.*/
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

main {
    float: left;
    width: 85%;
}

.rodape-pagina {
    clear: both;
}

cite {
    float: right;
    font-style: italic;
}